@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bold-font :  'Bebas Neue', cursive;
  --regular-font: 'Dosis', sans-serif;
}



img {
  max-width: 100%;
}
